# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
out-tsc

# dependencies
node_modules

# registry
.npmrc
.yarnrc

# locks
package-lock.json
yarn.lock

# editors
.idea
*.launch

# types
typings

# logs
npm-debug.log
yarn-error.log

# system
.DS_Store
Thumbs.db
